@font-face {
	font-family: 'simpleiriska';
	src: url('../fonts/simpleiriska.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/simpleiriska.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/simpleiriska.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/simpleiriska.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/simpleiriska.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/simpleiriska.svg#simpleiriska') format('svg'); /* Chrome < 4, Legacy iOS */
}