.character-image {
    height: 180px;
    float: right;
    padding: 12px 16px;
    margin-left: 16px;
    background-image: url("/src/img/characters/frame.png");
    background-size: 100% 206px;
    background-repeat: no-repeat;
}

.state {
    text-indent: 1.5em;
    font-size: 24px;
    text-align: justify;
}